.advertisement-search-container{
    background-image: url('./form-back.jpg');
    background-size: cover;
    background-position: bottom;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    
    
}

.searchPropertyData-container {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    }

.searchPropertyData-container *{
    margin: 2px 5px;
}
.resservSearch-container *{
    margin: 2px 5px
}

.advertisement-search-container form{
    background-color:rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-sizing: content-box;
    max-width: 80vw;
    overflow-wrap: normal;
    
}
.advertisement-search-container form>h1{
    text-align: center;
    
}
.advertisement-search-container select {
    background-color: white;
    
}
.advertisement-search-container * {
    font-weight: bold;
}



.advertisement-search-container input::placeholder{
    color: var(--secondary-color);
    opacity: 0.50;
  
}







  .resultSearchCotainer{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap:wrap;
}