.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 300px;
    
}



.loginForm label{
    text-align: center;   
}

.loginForm button{
    margin: 3px;
}

div > h1{
    padding: 0px;
    margin:0px;
}


.login-Container h1{
    text-align: center;
}