
.avatarUser-cotainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    box-shadow: var(--secondary-shadow);
}
.avatarUser-cotainer span{
    padding-left: 5px;  
    font-weight: bold;
    padding-right: 5px;
}

.miniAvatar-container{
    height: 35px;
    width: 35px;
    border:1px solid black;
    border-radius: 50%;
    background-position: center center;
    background-size: cover;
    
    
}
.avatarMenu{
    border-radius: 15px;
}

.avatarMenu *{
    color: var(--secondary-color);
    font-weight: bold;
    
}

