@import '../../css/vars.css';

.navContainer a{
    color: var(--secondary-color);
    text-decoration: none;
}

.navContainer   {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--secondary-color);
    align-items: center;
    top: 0;
    height: 75px;
    
    
}
.navContainer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
}

.navContainer ul li{
    padding-left: 15px;

}

.navContainer ul li:hover{
    cursor: pointer;
    text-decoration:underline;
    transform: scale(1.2)
}

.navLoginContainer{
    display: flex;
    flex-direction: row;    
}

.navContainer img {
    width: 75px;
}


.navContainer div{
    margin: 0px;
    padding: 0px;
}

